$newsweek-red:  #f72210;
$divider: 1px solid #DDD;

@import "nav";
@import "footer";

body {
  background-color: #f4f5f6;
}

.container-fluid.body {
  background-color: white;
}

a {
  text-decoration: none !important;
  color: black;
  &:hover {
  color: black;
  }
}

i {
  display: block;
  height: 16px;
  width: 16px;
}

.main-container {
  padding: 2% 2% 0 2%;
 }

.container-fluid.body {
  max-width: 1200px;
}

.info {
  padding: 1.5%;
}


.latest-headlines a,
.signup-form h5,
.signup-form a,
.magazine-title h5,
.subscription h5,
.card-title {
  font-family: 'Archivo Narrow', sans-serif;
}

.signup-form h5, .signup-form .preferences, .info p {
  color: #333;
}


// --------------------------------FIRST ROW-------------------------------

.main-story p {
  padding-bottom: 3%;
  border-bottom: $divider;
}

.sinorama {
  width: 100%;
}

.news-articles-2, .main-second-row {
  margin-top: 3%;
}


  // ----------------- LATEST HEADLINES &NEWSLETTER-------------------------

.newsweek-icon {
  background: url("../img/n.png") no-repeat;
  min-width: 25px;
  width: 55px;
  height: 35px;
  background-size: contain;
}

.latest-headlines-and-signup {
  padding: 0 4%;
}

.latest-headlines a {
  font-weight: bold;
}

.latest-headlines li, .latest-headlines-title {
  padding: 2.5% 0;
  border-bottom: $divider;
}

.latest-headlines-title {
  padding-top: 0;
  a {
    color: #444;
  }
}

.signup-form {
  margin-top: 15%;
  max-width: 300px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
}

.signup h5 {
  font-size: 1.3em;
}

.preferences {
  padding-top: 5%;
}

.signin-button {
  width: 40%;
  font-size: 1.2em;
}


// MAGAZINE ARTICLES

.magazine-title {
    border-bottom: $divider;
    align-items: center;
  }


// SUBSCRIPTION


.subscription-article {
  padding-bottom: 2%;
  &:hover {
    background-color: rgba(0,0,0,0.02);
  }
}

 .subscription-image-container {
   height: 50%;
   border-bottom: $divider;
   img {
     max-width: 55%;
   }
 }

 .card-title {
   font-size: 1.7em;
 }

.subscribe-button {
  background-color: $newsweek-red;
  padding: 3% 4%;
  a {
    font: {
      size: 1.2em;
      weight: bold;
    }
    color: white;
  }
}

.subscription-list {
  i.check-icon {
    background: url("../img/correct-symbol.png") no-repeat;
    background-position: 0px 0px;
    margin-right: 4%;
  }
  li {
    line-height: 1.5em;
    font-size: 0.95em;
  }
}

@import "media-queries";
